html {
  font-size: 100%;
}
body {
  font-size: 62.5%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  color: #424037;
}
blockquote {
  border-left: 4px solid #ff8d30;
  margin-left: 0.875rem;
  padding-left: 0.875rem;
  font-style: italic;
}

aside#sidebar {
  float: right;
  width: 175px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #999;
}
aside#sidebar #profile img.profile_image {
  border: 1px solid #ccc;
  width: 75px;
  height: 75px;
}
aside#sidebar nav {
  margin: 20px 0px;
}
aside#sidebar div.external {
  margin: 10px 0;
}
aside#sidebar div.external a {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid black;
  background: url(/images/icons/services/sprite.png?1326207468) no-repeat;
}
aside#sidebar section h1 {
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
footer.root {
  width: 500px;
  margin-left: 155px;
  text-align: center;
  font-size: 12px;
  color: #999;
  padding-top: 0px;
  padding-bottom: 20px;
}
div#wrap {
  margin: 0 auto;
  width: 900px;
  text-align: left;
}
a {
  color: #BC7134;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3 {
  margin: 0px;
}
article {
  width: 655px;
  position: relative;
  margin-bottom: 35px;
  -webkit-font-smoothing: antialiased;
}
article footer {
  float: left;
  width: 655px;
  margin-top: 10px;
}
article footer .responses {
  width: 500px;
  margin-left: 155px;
}
article .body {
  width: 500px;
  float: right;
  font-size: 1.2em;
  line-height: 1.8em;
  display: inline;
}
article .body .inner {
  margin: 15px 0 0;
}
article .body img {
  max-width: 500px;
}
article > header {
  width: 655px;
  padding-top: 5px;
}
article > header #navigation {
  float: left;
  width: 130px;
  text-align: right;
  display: inline;
  min-height: 40px;
  padding-top: 17px;
  margin-right: 25px;
}
article > header #navigation .older-newer {
  margin-top: 10px;
}
article > header #navigation .older {
  float: right;
}
article > header #navigation .newer {
  float: left;
}
article > header h1 {
  font-size: 22px;
  float: left;
  width: 500px;
  margin: 12px 0 0;
}
article > header h1 a {
  color: #444;
}
article > header h1 a:hover {
  text-decoration: none;
  color: #999;
}
article time a {
  font-size: 13px;
  color: #C6C1A5;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
header h1 {
  letter-spacing: -1px;
}
header.root {
  margin-top: 40px;
  width: 500px;
  margin-left: 155px;
  display: block;
}
header.root h1 {
  font-size: 3.2em;
  line-height: 1.6em;
  letter-spacing: -1px;
}
header.root h1 a:hover {
  color: #ccc;
  text-decoration: none;
}
header.root h1 a,
header.root h2 {
  color: #999;
}
header.root h2 {
  font-size: 1.4em;
  font-weight: normal;
}
