:root {
  --right-dashed-arrow: '\21E2';
  --left-dashed-arrow: '\21E0';
}

html {
  font-size: 100%;
}

body {
  font-size: 62.5%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  color: #424037;
  overflow-x: hidden;
}

blockquote {
  border-left: 4px solid #ff8d30;
  margin-left: 0.875rem;
  padding-left: 0.875rem;
  font-style: italic;
  font-size:  large;
}

blockquote p:before {
  content: '“';
}

blockquote p:after {
  content: '”';
}

aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

#sidebar {
  float: right;
  width: 175px;
  /*margin-top: 20px;*/
  font-size: 1.2em;
  color: #999;
  background: white;
  padding: 10px;
  border-radius: 6px;
}

#archive {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

#archive.inner > div {
  width:  240px;
  border:  1px solid red;
}

#archive.inner > div:first-child {
  width:  100%;
  border:  2px solid blue;
}


.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon::before {
  display: flex;
  width: 36px;
  height: 36px;
  background: url(/img/social-sprite.png) 0 0;
  content: '';
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 700px;
  border-radius: 10px;
}

.icon.github::before {
  background-position: -653px -11px;
}

.icon.github:hover::before {
  background-position: -653px -70px;
}

.icon.linkedin::before {
  background-position: -245px -11px;
}

.icon.linkedin:hover::before {
  background-position: -245px -70px;
}

.icon.twitter::before {
  background-position: -477px -11px;
}

.icon.twitter:hover::before {
  background-position: -477px -70px;
}

.icon.youtube::before {
  background-position: -594px -11px;
}

.icon.youtube:hover::before {
  background-position: -594px -70px;
}

#sidebar #profile img.profile_image {
  width: 100%;
}
#sidebar nav {
  margin-top: 20px;
}
#sidebar nav a {
  display: block;
}
#sidebar section h1 {
  font-size: 11px;
  font-weight: normal;
  color: #999;
}

footer {
  width: 500px;
  margin-left: 155px;
  text-align: center;
  font-size: 12px;
  color: #999;
  padding-top: 0px;
  padding-bottom: 20px;
}

div#wrap {
  margin: 0 auto;
  width: 900px;
  text-align: left;
}

a {
  color: #bf5600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0px;
}

h3 {
  margin-top: 1.4em;
}

article {
  width: 655px;
  position: relative;
  margin-bottom: 35px;
  -webkit-font-smoothing: antialiased;
}

article .body {
  width: 500px;
  float: right;
  font-size: 1.4em;
  display: inline;
}

article .body p {
  line-height: 1.4em;
}

article .body .inner {
  margin: 15px 0 0;
}

article .body img {
  max-width: 500px;
}

article > header {
  width: 655px;
  padding-top: 5px;
}

article > nav {
  float: left;
  width: 130px;
  text-align: right;
  display: flex;
  flex-direction: column;
  min-height: 40px;
  margin-right: 25px;
  gap: 6px;
}

#older-newer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#older-newer a {
  font-size: 12px;
}

.older, .newer {
  width: 100%;
}

.older {
  text-align: right;
}

.newer {
  text-align: left;
}

.newer:before {
  content: var(--left-dashed-arrow);
}

.older:after {
  content: var(--right-dashed-arrow);
}

article > header h1 {
  font-size: 22px;
  float: left;
  width: 500px;
  margin: 12px 0 0;
}
article > header h1 a {
  color: #4e4e4e;
}

article h2 {
  margin: 1.2em 0 0;
}

article time a {
  font-size: 13px;
  color: #645500;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
header h1 {
  letter-spacing: -1px;
}
header.root {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 500px;
  margin-left: 155px;
  display: block;
}
header.root h1 {
  font-size: 3.2em;
  line-height: 1.6em;
  letter-spacing: -1px;
}
header.root h1 a:hover {
  color: #ccc;
  text-decoration: none;
}
header.root h1 a,
header.root h2 {
  color: #999;
}
header.root h2 {
  font-size: 1.4em;
  font-weight: normal;
}

pre, p > img {
  box-shadow: 0px 0px 3px 1px #ddd;
  border-radius: 6px;
}

.inner > p {
  text-align:  justify;
}

iframe {
  box-shadow: 0px 0px 3px 1px #ddd;
  border-radius: 6px;
}

code {
  font-family: Consolas, Monaco, monospace;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

pre code.hljs {
  display: block;
  padding: 1em;
  line-height: 1.4em;
  position: relative;
  white-space: pre-wrap;
}

/*
  paragraphs right before a pre block trail with ellipsis …
*/



/* start: (tip or explanation) blocks that come after a pre-formatted code example */
pre + blockquote {
  position: relative;
  top: -13px;
  border: none;
  padding-right: 0.875rem;
  margin-left: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

blockquote + pre {
  margin-bottom: 0px;
}

pre + blockquote > p {
  margin: 0px;
  margin-left: 3px;
  flex: 1;
  font-size: 0.7em;
  line-height: 1.2em !important;
  color: rgb(136 136 136);
  text-align: justify;
}

pre + blockquote:before {
  content: '⏎';
  transform:  scale(-1, 1); /* flip the arrow in the x-axis */
  color: #8abeb7;
  font-size:  large;
  font-style: normal;
}

pre + blockquote > p:before,
pre + blockquote > p:after {
  content: '';
}

pre + blockquote + p {
  margin-top: 0px;
}

/*
  hard to get this working without using flex on the p, but then
  things just go to crap with the text elements within :(

  pre + blockquote > p:after {
    content:  '';
    border-bottom:  1px dotted #ccc;
    margin-left:  5px;
    flex: 1;
  }
*/

/* end: (tip or explanation) */

pre code:before {
  width: 10000%;
  content: "";
  left: -1000px;
  height: calc(100% - 2em);
  position: absolute;
  background: #f2f2f2;
  z-index: -1;
}

.hljs-meta {
  user-select: none;
}

/*
  Table Styling...
*/

table {
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
}
td { border-bottom: 1px solid #ddd; }
caption, th, td {
  padding: 4px 10px 4px 0;
}
caption {
  background: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 1em;
}

tr,td,th {
  vertical-align: middle;
}
