article.post.clearfix
  header
    section#navigation
    h1 archives
  section.body
    #archive.inner
      - _(site.posts).chain().clone().reverse().each(function(post){
        div
          a(href=`/${post.htmlPath()}`) #{post.title()}
          pre
            #{JSON.stringify(post, null, 2)}
      - })
